name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller colorama

    - name: Install UPX
      run: choco install upx

    - name: Build with PyInstaller
      run: pyinstaller --clean oplus_super_packer.spec

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: oplus_super_packer
        path: dist/oplus_super_packer.exe

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/oplus_super_packer.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
